@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f8;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
    color: #000000;
}

button {
    outline: none;
    border: none;
}
/*  */
.connectImg{
    text-align: center;
   
}
/* .savingsImgOAuth{
 float: left;
} */

.input,
.passwordInput,
.emailInput,
.nameInput,
.textarea {
    box-shadow: rgba(0, 0, 0, 0.11);
    border: none;
    background: black;
    border-radius: 2rem;
    height: 2rem;
    width: 100%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0 3rem;
    font-size: 1rem;
}

@media (min-width: 1100px) {

    .input,
    .passwordInput,
    .emailInput,
    .nameInput,
    .textarea {
        padding: 0 5rem;
    }
}

.textarea {
    padding: 1rem 1.5rem;
    height: 300px;
    border-radius: 1rem;
}

.primaryButton {
    cursor: pointer;
    background: #0096FF;
    border-radius: 1rem;
    padding: 0.85rem 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.pageContainer {
    margin: 1rem;
    /* background-color: #f4f4f8; */
    
}

@media (min-width: 1024px) {

    .pageContainer,
    .offers,
    .profile,
    .listingDetails,
    .category,
    .explore {
        margin: 3rem;
    }
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #0096FF transparent #0096FF transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pageHeader {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}


.nameInput {
    margin-bottom: 2rem;
    background: url('./assets/svg/badgeIcon.svg') #f4f4f8 2.5% center no-repeat;
}

.emailInput {
    margin-bottom: 2rem;
    background: url('./assets/svg/personIcon.svg') #f4f4f8 2.5% center no-repeat;
}

.passwordInputDiv {
    position: relative;
}

.passwordInput {
    /* margin-bottom: 2rem; */
    background: url('./assets/svg/lockIcon.svg') #f4f4f8 2.5% center no-repeat;
}

.showPassword {
    cursor: pointer;
    position: absolute;
    top: -4%;
    right: 1%;
    padding: .5rem;
}

.forgotPasswordLink {
    cursor: pointer;
    color: #0096FF;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5rem;
}

.signInBar,
.signUpBar {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
    cursor: pointer;
}

@media (min-width: 1024px) {

    .signInBar,
    .signUpBar {
        justify-content: start;
    }
}

.signInText,
.signUpText {
    font-size: 1.5rem;
    font-weight: 700;
}

.signInButton,
.signUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #0096FF;
    border-radius: 50%;
}
/* 
@media (min-width: 1024px) {

    .signInButton,
    .signUpButton {
        margin-left: 63rem;
    }
} */

.socialLogin {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialIconDiv {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}


.socialIconImg {
    width: 100%;
}

.registerLink {
    /* margin-top: 1rem; */
    color: #0096FF;
    font-weight: 600;
    text-align: center;
    /* margin-bottom: 3rem; */
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}






